.test__item {
	background: #E2E2E2;
	padding: 0;
	background-size: 0, 0;

	//Okay

	&:before {
		content: 'test';
		padding: 0;
	}

	//Wrong

	.thing {
		background: #FFF;
	}

	//Okay

	.js & {
		background: #FFF;
	}
}

.test {
	background: #FFF;
}
